<%- include ("../partials/head")%>
<body>
    <%- include ("../partials/header")%>

    <main>
        
        <form action="/products/agregar" method="POST" class="user-form admin-form" enctype="multipart/form-data">
            <div class="user-container">
            <h2 class="user-title">Agregar producto</h2>
            <div class="input-user">
                <label for="nombre" class="bar-user">Nombre del producto:</label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre del producto">
            </div>
            <div class="input-user">
                <label for="precio" class="bar-user">Precio del producto:</label>
                <input type="text" id="precio" name="precio" placeholder="Ej: 5678">
            </div>
            <div class="input-user">
                <label for="description" class="bar-user">Descipción:</label>
                <textarea name="description" id="description"></textarea>
            </div>
            <div>
                <h4 class="user-title">Seleccione una categoria para su producto</h4>
                <div class="user-checkbox">
                    <div><input type="checkbox" name="product-check" id="product-check" ></div>
                    <div class="user-legal"><label for="product-check">Productos</label></div>
                </div>
                <select class= "select-txt-bar" name="Categoria" id="tipos-de-productos" >
                    <option class= "select-txt" value="Componentes de PC">Componentes de PC</option>
                    <option class= "select-txt" value="Perifericos">Perifericos</option>
                    <option class= "select-txt" value="Celulares">Celulares</option>
                    <option class= "select-txt" value="Impresoras">Impresoras</option>
                    <option class= "select-txt" value="Articulos para el Hogar">Articulos para el Hogar</option>
                    <option class= "select-txt" value="Computadoras de escritorio">Computadoras de escritorio</option>
                    <option class= "select-txt" value="Notebooks y Tablets">Notebooks y Tablets</option>
                  </select><br>
                  <div class="user-checkbox">
                    <div><input type="checkbox" name="service-check" id="service-check" ></div>
                    <div class="user-legal"><label for="service-check">Servicio Tecnico</label></div>
                </div>
                <select class= "select-txt-bar" name="Categoria" id="tipos-de-servicios">
                    <option class= "select-txt" value="Notebooks">Notebooks</option>
                    <option class= "select-txt" value="Celulares">Celulares</option>
                    <option class= "select-txt" value="Computadoras de escritorio">Computadoras de escritorio</option>
                    <option class= "select-txt" value="Impresoras">Impresoras</option>
                    <option class= "select-txt" value="Televisores">Televisores</option>
                </select>
            </div>
            <div class="add-img">
                <label for="image" class="form-label"> Imagen de tu producto: </label>
                <input type="file" name="image" id="image" class="img-button">
             </div>
            <div><button type="submit" class="user-button">Agregar producto</button></div>
            </div>
        </form>
    <!--
    <form action="/products/store" method="POST" enctype="multipart/form-data">
        <div class="row product-detail">
            <div class="col-12 col-md-6">
                <label for="name" class="form-label">Nombre del producto:</label>
                <input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input">
            </div>
            <div class="col-12 col-md-6">
                <label for="price" class="form-label">Precio del producto:</label>
                <input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input">
            </div>
            <div class="col-12 col-md-6">
                <label for="discount" class="form-label">Descuento:</label>
                <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-input">
            </div>
            <div class="col-12 col-md-6">
                <label for="category" class="form-label">Categoría:</label>
                <select name="category" id="category" class="form-input">
                    <option value="">Elegí</option>
                    <option value="in-sale">En oferta</option>
                    <option value="visited">Últimos agregados</option>
                </select>
            </div>
            <div class="col-12">
                <label for="description" class="form-label">Descipción:</label>
                <textarea name="description" id="description" class="form-input"></textarea>
            </div>
            <div class="col-12">
                <label for="image" class="form-label"> Imagen de tu producto: </label>
                <input type="file" name="image" id="image" >
            </div>
            <div class="col-12">
                <button type="submit" class="buy-now-button">Guardar producto</button>
            </div>
        </div>
    </form>
    -->
    </main>

    <footer>
        <%- include ("../partials/footer")%>
    </footer>

    
</body>
</html>