<%- include ("../partials/head")%>
<body>
    <%- include ("./partials/header")%>

    <main>
        <div class="form-adm-containter">
            <form action="" method="POST" class="product-cont">
                <label for="Product-name"> Crear Producto </label>
                <div>
                    <input type= "text" class="product-input" id="Product-name" placeholder="Nombre de producto" maxlength="75">
                </div>
                <div>
                    <input type= "text" class="product-price" id="Product-price" placeholder="Precio" pattern="[$]\s[\s0-9.]+" title="Solo en formato de numeros">
                </div>
                <div>
                    <input type= "text" class="product-detail" id="Product-detail" placeholder="Detalle de producto" maxlength="75">
                </div>
                <div class="add-img" for="profile-img">
                    <label for="profile-img">Añadir imagen de producto</label>
                    <input type="file" class="img-button" id="product-img" accept=".jpg, .png, .jpeg">
                 </div>
                <div class="btn-adm-producto-container">
                    <div>
                        <button type="submit" class="btn-adm-producto">Crear Producto</button>
                    </div>
                </div>
            </form>
        </div>


    </main>

    <footer>
        <%- include ("../partials/footer")%>
    </footer>

    
</body>
</html>