<%- include ("../partials/head")%>
<title>Eliminar producto</title>
</head>
<body>
    <%- include ("../partials/header")%>

    <main>
        <form action="/" method="POST" class="user-form admin-form">
            <div class="user-container">
            <h2 class="user-title">Buscar producto</h2>
            <div class="input-user">
                <div><input class="bar-user" type="text" id="product-name" placeholder="Nombre del producto" required></div>
            </div>
            <div class="user-checkbox">
                <div><input type="checkbox" name="delete-check" id="delete-check" required></div>
                <div class="user-legal"><label for="delete-check">Estoy seguro de eliminar el producto</label></div>
            </div>
            <div><button type="submit" class="user-button">Eliminar producto</button></div>
            </div>
</form>
    </main>

    <footer>
        <%- include ("../partials/footer")%>
    </footer>

    
</body>
</html>        
