<%- include ("../partials/head")%>
<body>
    <%- include ("../partials/header")%>

    <main>
        <form action="/" method="get" class="user-form admin-form">
            <div class="user-container">
            <h2 class="user-title">Modificar producto</h2>
            <div class="input-user">
                <div><input class="bar-user" type="text" id="product-name-mod" placeholder="Nombre del producto" required></div>
            </div>
            <div class="input-user">
                <div><input class="bar-user" type="text" id="product-price-mod"  placeholder="Precio" pattern="[$]\s[\s0-9.]+" title="Solo en formato de numeros" required></div>
            </div>
            <div class="input-user">
                <div><input class="bar-user" type="text" id="product-detail-mod"  placeholder="Detalle del producto" required></div>
            </div>
            <div>
                <h4 class="user-title">Seleccione una categoria para su producto</h4>
                <div class="user-checkbox">
                    <div><input type="checkbox" name="product-check" id="product-check" required></div>
                    <div class="user-legal"><label for="product-check">Productos</label></div>
                </div>
                <select name="Desplegable-agregar" id="tipos-de-productos">
                    <option class= "select-txt" value="Componentes de PC">Componentes de PC</option>
                    <option class= "select-txt" value="Perifericos">Perifericos</option>
                    <option class= "select-txt" value="Celulares">Celulares</option>
                    <option class= "select-txt" value="Impresoras">Impresoras</option>
                    <option class= "select-txt" value="Articulos para el Hogar">Articulos para el Hogar</option>
                    <option class= "select-txt" value="Computadoras de escritorio">Computadoras de escritorio</option>
                    <option class= "select-txt" value="Notebooks y Tablets">Notebooks y Tablets</option>
                  </select><br>
                  <div class="user-checkbox">
                    <div><input type="checkbox" name="service-check" id="service-check" required></div>
                    <div class="user-legal"><label for="service-check">Servicio Tecnico</label></div>
                </div>
                <select name="Desplegable-agregar" id="tipos-de-servicios">
                    <option class= "select-txt" value="Notebooks">Notebooks</option>
                    <option class= "select-txt" value="Celulares">Celulares</option>
                    <option class= "select-txt" value="Computadoras de escritorio">Computadoras de escritorio</option>
                    <option class= "select-txt" value="Impresoras">Impresoras</option>
                    <option class= "select-txt" value="Televisores">Televisores</option>
                </select>
            </div>
            <div class="add-img">
                <label for="add-producr">Añadir imagen del producto</label>
                <input type="file" class="img-button" id="add-product-mod" accept=".jpg, .png, .jpeg">
             </div>
            <div><button type="submit" class="user-button">Modificar producto</button></div>
            </div>
        </form>


    </main>

    <footer>
        <%- include ("../partials/footer")%>
    </footer>

    
</body>
</html>