<%- include ("../partials/head")%>
<body class="body-cart">
    <%- include ("../partials/header")%>

    <main>
        <div class = "contenedor-total">
            <hr>
            <h2>Subtotal $</h2>
            <h2>Total $</h2>
            <hr>
        </div>
    <div class="contenedor-button-compra">
        <form class = "realizar">
            <button type="submit" class = "button-compra">Realizar compra</button>
        </form>
    </div>
    <section class = "productos-compra">
        <article class = "productos">
            <img src="images/mouse-gamer-logitech.jpg" alt="MOUSE GAMER LOGITECH G203" class = "image-cart"/>
            <div class="contenedor-descripcion">
            <h4 class="cursiva">Auriculares Hyperx</h4>
            <p class = "precio-cart">$11.399</p>
            <p class="descuento-cart">20% descuento</p>
        </div>
        </article>
        <form class="contador-contenedor">
            <input type="reset" value="-">
            <input type="text" value="1" class = "contador">
            <input type="submit" value="+"> 
        </form>
        <hr id="hr">
        <article class = "productos">
            <img src="images/mouse-gamer-logitech.jpg" alt="MOUSE GAMER LOGITECH G203" class = "image-cart"/>
            <div class="contenedor-descripcion">
            <h4 class="cursiva">Auriculares Hyperx</h4>
            <p class = "precio-cart">$11.399</p>
            <p class="descuento-cart">20% descuento</p>
        </div>
        </article>
        <form class="contador-contenedor">
            <input type="reset" value="-">
            <input type="text" value="2" class = "contador">
            <input type="submit" value="+"> 
        </form>
        <hr id="hr">
        <article class = "productos">
            <img src="images/mouse-gamer-logitech.jpg" alt="MOUSE GAMER LOGITECH G203" class = "image-cart"/>
            <div class="contenedor-descripcion">
            <h4 class="cursiva">Auriculares Hyperx</h4>
            <p class = "precio-cart">$11.399</p>
            <p class="descuento-cart">20% descuento</p>
        </div>
        </article>
        <form class="contador-contenedor">
            <input type="reset" value="-">
            <input type="text" value="3" class = "contador">
            <input type="submit" value="+"> 
        </form>
        <br>

        <div class="cart-text"><h3>Productos que te pueden interesar</h3></div> 

        <section id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/banner1.jpg" class="d-block w-100" alt="banner 1">
              </div>
              <div class="carousel-item">
                <img src="images/banner2.jpg" class="d-block w-100" alt="banner 2">
              </div>
              <div class="carousel-item">
                <img src="images/banner3.jpg" class="d-block w-100" alt="banner 3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </section>
        </div>
        <br>

    </section>
    <section class = "fixed-icons">
        <div class = "home">
            <a href="/"><i class="fas fa-home"></i></a>
        </div>
        <div class = "mobile">
            <i class="fas fa-mobile-alt"></i>
        </div>
        <div class = "controller">
            <i class="fas fa-gamepad"></i>
        </div>
        <div class = "user">
            <a href="/login"><i class="fas fa-user"></i></a>
        </div>
    </section>

    </main>
    <%- include ("../partials/footer")%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>



</html>