<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div class = "top">
            <form action = "/search" method = "GET">
                <div><input type = "text" placeholder="Search" maxlength="100"></div>
                <div><button type ="submit"><i class="fa fa-search"></i></button></div>
            </form>
        </div>
                <div><img src="images/LarrazLogo.png" alt="Logo de Larraz Store"></div>
                <div class = "saludo">¡Bienvenidos!</div>
                <form action="/home" method="GET"></form>
                    <br><input type = "radio" name = "cuenta" checked>Crear cuenta</input></br>
                    <span class="alert">¿Eres nuevo en Larraz Store?</span>
                    <br><input type = "radio" name = "cuenta" >Iniciar sesión</input></br>
                    <span class="alert">¿Ya eres cliente?</span>
                    <div class="inputStyle">
                    <input type="email" name="email" placeholder="dirección de correo electrónico" required>
                    </div>
                    <label for = "enviar"></label>
                    <button type="submit" id ="enviar">CONTINUAR</button>
                </form>
    </header>
</body>
</html>