<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Detalles del producto</title>
</head>
<body>
    <h1>PRODUCTOS SELECCIONADOS</h1>
    <article>
        <section class = "contenedor">
            <div class = "contenedor-imagen">
              <img src="images/cpugamer.jpg" alt="CPU GAMER AEROCOOL"/>
            </div>
          
            <div class = "contenedor-detalle">
              <h2>CPU GAMER AEROCOOL</h2>
              <h3>price</h3>
              <p>description</p>
              <button>Buy Now</button>
              <button>Add to Cart</button>
            </div>
          </section>
          <section class = "contenedor">
            <div class = "contenedor-imagen">
              <img src="images/mouse-gamer-logitech.jpg" alt="MOUSE GAMER LOGITECH G203"/>
            </div>
          
            <div class = "contenedor-detalle">
              <h2>MOUSE GAMER LOGITECH G203 LILA</h2>
              <h3>price</h3>
              <p>description</p>
              <button>Buy Now</button>
              <button>Add to Cart</button>
            </div>
          </section>
          <section class = "contenedor">
            <div class = "contenedor-imagen">
              <img src="images/note-20.jpg" alt="SAMSUNG GALAXY NOTE 20 128GB"/>
            </div>
          
            <div class = "contenedor-detalle">
              <h2>SAMSUNG GALAXY NOTE 20 128GB</h2>
              <h3>price</h3>
              <p>description</p>
              <button>Buy Now</button>
              <button>Add to Cart</button>
            </div>
          </section>
          <section class = "contenedor">
            <div class = "contenedor-imagen">
              <img src="images/silla-gamer-aerocool.jpg" alt="SILLA GAMER AEROCOOL C/ DETALLES EN ROJO"/>
            </div>
          
            <div class = "contenedor-detalle">
              <h2>SILLA GAMER AEROCOOL C/ DETALLES EN ROJO</h2>
              <h3>price</h3>
              <p>description</p>
              <button>Buy Now</button>
              <button>Add to Cart</button>
            </div>
          </section>
    </article>
</body>
</html>