<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Detalles del producto</title>
</head>
<body>
    <h1>Productos seleccionados</h1>
    <article>
        <section>
            <div>
              <img src="img/cpugamer.jpg" alt="CPU GAMER AEROCOOL"/>
            </div>
          
            <div>
              <h2>CPU GAMER AEROCOOL</h2>
              <h3>price</h3>
              <p>description</p>
            </div>
          </section>
          <section>
            <div>
              <img src="img/mouse-gamer-logitech.jpg" alt="MOUSE GAMER LOGITECH G203"/>
            </div>
          
            <div>
              <h2>MOUSE GAMER LOGITECH G203 LILA</h2>
              <h3>price</h3>
              <p>description</p>
            </div>
          </section>
          <section>
            <div>
              <img src="img/note-20.jpg" alt="SAMSUNG GALAXY NOTE 20 128GB"/>
            </div>
          
            <div>
              <h2>SAMSUNG GALAXY NOTE 20 128GB</h2>
              <h3>price</h3>
              <p>description</p>
            </div>
          </section>
          <section>
            <div>
              <img src="img/silla-gamer-aerocool.jpg" alt="SILLA GAMER AEROCOOL C/ DETALLES EN ROJO"/>
            </div>
          
            <div>
              <h2>SILLA GAMER AEROCOOL C/ DETALLES EN ROJO</h2>
              <h3>price</h3>
              <p>description</p>
            </div>
          </section>
    </article> 
</body>
</html>