<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Carrito</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <img src="images/LarrazLogo.png" alt="Logo de Larraz Store" class ="imagen">
            </div>
            <div class = "top">
                <form action = "/search" method = "GET">
                    <div><input type = "text" placeholder="Search" maxlength="100"></div>
                    <div><button type ="submit"><i class="fa fa-search"></i></button></div>
                </form>
            </div>
            <div class = "carrito">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </div>
    </header>

    <main>
        <section class = "fixed-icons">
            <div class = "home">
                <a href="/"><i class="fas fa-home"></i></a>
            </div>
            <div class = "mobile">
                <i class="fas fa-mobile-alt"></i>
            </div>
            <div class = "controller">
                <i class="fas fa-gamepad"></i>
            </div>
            <div class = "user">
                <a href="/login"><i class="fas fa-user"></i></a>
            </div>
        </section>
    </main>
    <footer>
    </footer>
</body>



</html>