<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Detalles del producto</title>
</head>
<body>
    <h1>Como laburan los pibes</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque numquam consequatur vel molestiae omnis labore autem adipisci nisi, perspiciatis, facilis corrupti praesentium quos aperiam voluptatibus blanditiis sequi nemo, temporibus tempore!</p>
</body>
</html>