<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Carrito</title>
</head>
<body>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quos quibusdam hic enim illo. Magni animi odio odit praesentium eum ad nihil, totam, eligendi, facilis quidem accusamus aliquam earum aut.</p>  
</body>
<footer>
  <div class = "fixed-icons">
    <div class = "home">
        <a href="/"><i class="fas fa-home"></i></a>
    </div>
    <div class = "mobile">
        <i class="fas fa-mobile-alt"></i>
    </div>
    <div class = "controller">
        <i class="fas fa-gamepad"></i>
    </div>
    <div class = "user">
        <a href="/login"><i class="fas fa-user"></i></a>
    </div>
</div>
</footer>

</html>