*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body .body-container{
    background-color: #c4c3d3;
    width: 100%;
    
}

body{
    background-color: #c4c3d3;
}



header {
    background-color: #3453;
}

header .top-header {
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 100%;
    justify-content: space-around;
    
}


.search-container{
display:flex;
width: 100%;
padding: 0 10px;}

.bar {width: 100%;}

.search-input{
    width: 100%;
    border: 2px solid  #6200ff;
    border-radius: 10px 0 0 10px;
    padding: 5px;
    height: 45px
}

.search-input::placeholder {color:#e6e1e6}

.search-input:focus {
    outline: 1px solid #6a0dff;
    box-shadow: 0px 0px 8px 0px #6a0dff;
}

.search-button {
    width: 40px;
    height: 45px;
    border: 2px solid #6200ff;
    border-radius: 0 10px 10px 0 ;
    background-color: #6a0dff;
    color: #fff;
    -webkit-transition-duration: 0.1s;
      transition-duration: 0.1s;
      cursor: pointer;
      text-decoration: none;
    }

.search-button:hover {color: #e6e1e6;
outline: 2px solid #6a0dff;
box-shadow: 0px 0px 8px 0px #6a0dff}

.header-buttons{
    display:flex;
    width:15%;
    }

.header-login {
    display: none;
    width:33%;
    justify-content:center
}


.carrito {
    width: 33%;
    text-align: center;}

.header-icon {
    font-size: 25px;
    color: #fff;
    background-color: #6a0dff;
    padding: 10px;
    border-radius: 6px;
}

.header-icon-login {font-size: 20px;
color: #fff;
background-color: #6a0dff;
padding: 10px 12.5px;
border-radius: 6px;
}

 .logo{
    display: flex;
    height:70px;
    margin-top:5px;
    border-radius:100%;
    padding-left: 5px
}

.top{width: 65%;
padding-top: 30px;}


 .logo   .imagen {
    width:100%;
    height:100%;
    border-radius:100%;
    
}


header .saludo{
    font-family: 'Fasthand', cursive;
}

.alert{
    font-family: 'Fasthand', cursive;
}

.burger-menu{
    text-align: center;
    padding-bottom: 8px;
}

.cel-icon {    
    padding: 15px;
    background-color: #6a0dff;
    border-radius: 10px;
    font-size: 24px;
    color: #fff;
}

.cel-icon:focus {
    box-shadow: 0px 0px 4px 0px rgba(98,0,255,0.75);
}

.lista-nav{display:none}

/*home css*/

main .armaPC {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .armaPC img{
    display: flex;
    width: 75%;
    height: auto;
    border-radius: 10px;

}

main .armaPC img:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.formulario-contenedor{
    display: flex;
    flex-wrap: wrap;
}

form p {
    display: flex;
}

footer .prueba {
    font-family: 'Titillium Web', sans-serif;
}

.fixed-icons {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #494653;
    width: 100%;
    bottom: 0%;
    padding: 10px;
    font-size: 20px;
}


.fixed-icons i {
    display: flex;
    color: #F5F5F5;
}

.alert{
    font-family: 'Fasthand', cursive;
}

/*login nacho css*/


.top-header {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.search-bar {
    display: flex;
    width: 50%
}

.login-container {
    display: flex; 
    flex-direction:column; 
    align-items: center; 
    padding-bottom: 15px;
}

.login-problems {
    margin-top: 20px;
}

.password-missing {
    margin-bottom: -10px;
}

.login-button {
    display: flex; 
    justify-content: center;
    margin-top: 10px;
}

.login-problems {
    text-align: center;
}

/*Product-cart*/
/*esto tmb esta editado especificamente para el carrito html*/
.top-header-cart{
    display:flex;
    position: relative;
    background-color: #c4c3d3;
}

.image-cart{
    width: 50vw;
    height: 50vw;
    max-width: 300px;
    max-height: 300px;
}

.productos{
    display: flex;
    justify-content: space-around;
}

/*serch bar del carrito editado en html*/

.search-bar-cart {
    border: solid 1px #6200ff;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right:70px;
    top: 20px;
}

 .mapa{
    display: flex;
    justify-content: center;
}

.button-cart{
    border: solid 2px #008CBA;
    border-radius: 6px;
    background-color: white;
    width: 100px;
    padding:5px
}

.button-cart:hover{
    background-color: #0099CC;
    color: white;
}

.search-bar-cart input{
    background-color: white;
    border: none;
    padding-left: 5px;
    width: 300px;
}


.search-bar-cart button{
    border:none;
    background-color: white;
    color:gray;
}

.contador-contenedor input[type=text]{
    width: 25px;
    height: 25px;
    text-align: center;
}

.contador-contenedor input {
    background-color: #6200ff;
    color: #fff;
    width: 15px;
    border-radius: 5px;
    height: 30px;
    border: none;
}
   
header .top-header {
    display: flex;
    flex-direction: row;
    align-items:center;
}
/*BOTON*/
.button-compra{
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}
.button-compra {
      background-color: white; 
      color: black; 
      border: 2px solid #6200ff;
}

.button-compra:hover {
    background-color: #6200ff;
    color: white;
}


/*FOOTER -- Juan Larraz*/

.footer-principal{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer{
    width: 100%;
    background: #6200ff;
    color: rgb(255, 255, 255);   
    
}

.contenedor-footer{
    width: 100%;
    /*max-width: 1200px;*/
    margin: auto;
    padding: 40px;
}

.contenedor-body-footer{
    display: flex;
    justify-content: space-between;
}

.columna-dos{
    max-width: 400px;
}

.columna-uno h1{
    font-size: 22px;
}

.columna-uno p{
    font-size: 14px;
    color: #ffffff;
    margin-top: 20px;
}

.columna-dos{
    max-width: 400px;
    
}

.columna-dos h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #ffffff;
}

.columna-tres{
    max-width: 400px;
}

.columna-tres h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.contenedor-derechos{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.informacion a{
    text-decoration: none;
    color: #C7C7C7;
}

/* MI PARTE nacho*/
.user-form {
    width: 90%;
    margin: 10px auto;
    border-radius: 5px;
}


.user-container {
    width: 85%;
    margin: 0 auto;
    padding: 10px 12px;
    border: 2px solid #d4d4d4;
    border-radius: 12px;
    background-color: #f2f3f7;
    box-shadow: 0px 0px 10px 3px rgb(161 161 161 / 25%);
}

.user-title {
    font-size: 23px; 
    font-weight: bold; 
    text-align: center;
    color:#646363
}

.user-subtitle {
    width: 100%;
    text-align: center;
    color: #8a92a3}

.user-text {color: #a6a2a8}

.user-subtitle, .user-text {
    font-size: 20px;
}

.bar-user {
    height: 30px;
    margin: 4px 0;
    border: 1px solid #dbdcdd;
    border-radius: 4px;
    font-size: 13px;
    padding: 5px;
    font-size: 18px;
}

.bar-user {width: 100%;}

.bar-user::placeholder {color: #e6e1e6;}

.bar-user:focus {
    outline: 2px solid #0d6efd;
    box-shadow: 0px 0px 8px 0px #0d6efd;}

.user-checkbox{
    display:flex;
    margin-top: 10px;
}

.user-legal {
    font-size: 12px;
    padding-top: 2px;
    margin-left: 3px;
    text-align: center;
    color:#a6a2a8
}


.user-button {
    width: 100%;
    margin: 15px 0;
    height: 40px;
    border-radius: 8px;
    background-color:#fff;
    color: #a6a2a8;
    font-size: 20px;
    padding-bottom: 2px;
    border: 2px solid #6200ff;
    -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      cursor: pointer;
      text-decoration: none;
}

.user-button:hover {
    background-color: #6200ff;
    color: #fff;
}

.form-container {
    display:flex; 
    justify-content:space-between;
}

.user-name {width: 48%;}

.bar-username {width: 100%;}

.realizar {
    text-align: center;
}

.contenedor-button-compra {
    margin-bottom: 15px;
}

.contenedor-descripcion {
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
    margin-right:10px
}

.contador-contenedor {
    text-align: center;
}

.lista-nav li {
    display: block;
    background-color: #6200ff;
    color: #fff;
    padding: 5px 12px;
    border-radius: 25px;
    font-size: 2.4vw;
}

.lista-nav li:focus { 
        box-shadow: 0px 0px 4px 0px rgba(98,0,255,0.75);
}

.cursiva {
    font-size: 20px;
}
/* MI PARTE nacho */

/* FOOOTER NUEVO CSS */

.history-txt 
{display:none;
text-align: center}

.history-txt p {
    max-width: 950px;
    margin: 0 auto;
}



.footer-cont {
    padding: 30px;
}

.history-txt h1 {
    font-size: 36px;
}

.history-txt p {
    font-size: 15px
}


.contact-flex {
    margin: 0 auto;
}


.contact-flex div a {
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.footer-icon {
    font-size: 20px;
    margin-right: 10px;
    padding-top: 3px;
}

.contact-txt {
    font-size: 25px;
    font-weight: bold;
}

.social-cont div {
    margin-right: 20px;
}

.footer-about a {
    
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.footer-about h1 {
    font-size: 48px;
}


.copyright-cont {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:#101010;
    font-size: 12px;
    padding-bottom: 40px;
}

.copyright-cont a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.admin-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-btn {
    flex-direction: column;
    margin: 10px auto;
}

.admin-btn li {
    margin: 10px auto;
}

.admin-btn a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.add-img {
    position: relative;
    padding: 3px;
    width: 50%;
    margin: 10px auto 0 auto; 
    border: 2px solid #6200ff;
    border-radius: 5px;
    background-color: #fff;
    cursor:pointer;
    text-align: center; 
    color: #666;
    transition: all 200ms
}

.select-txt {
    color: #e6e1e6;
}

.select-txt-bar {
    height: 30px;
    margin: 4px 0;
    border: 1px solid #dbdcdd;
    border-radius: 4px;
    font-size: 13px;
    padding: 5px;
    color: #e6e1e6;
}

.img-button {
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    width: 100%;
    height:100%;
    opacity:0;
    cursor: pointer
}

.admin-form {
    width: 75%;
}








@media (min-width: 361px){
    header .menu-header{
        display: inline;
        display: flex;
        justify-content: space-around;
    }

    header .menu-header  li{
        margin-right: 25px;
        list-style: none;
        display: inline;
    }

    .top-header {
        justify-content: space-between;
    }

    .header-buttons {
        display: flex;
        width: 30%;
        margin-right: 5px;
    }


    
    .burger-menu{display:none}

    .menu-header{display:flex;}

    .header-login {
        display:flex;
        width: 50%}

    .carrito {
        width: 50%;
        margin: 0 10px}

    .header-icon {font-size: 20px}

    .header-icon:focus {
        box-shadow: 0px 0px 4px 0px rgba(98,0,255,0.75);
    }


    .header-icon:focus {
        box-shadow: 0px 0px 4px 0px rgba(98,0,255,0.75);
    }

    .social-cont {
        display: flex;
        justify-content:space-between;
    }
    
    .lista-nav{
    display: flex;
    padding: 5px 5px 10px 5px;
    margin: 0 0px;
    justify-content: space-around;
    list-style-type: none;
    color: #646363;
    font-size: 15px;
    text-align: center;
    } 

    .cursiva {
        font-size: 25px;
    }

    .contenedor-descripcion {
        font-size: 18px
    }
    .admin-form {
        width: 65%;
    }
=======
}

/* MI PARTE nacho */
.user-legal {font-size: 13px;}
/* MI PARTE nacno */

@media (min-width: 721px){
    /* FOOTER NUEVO*/
    .history-txt {
        display: block;
    }

    .footer-about{
        display:none
    }
    /* FOOTER NUEVO*/
    .fixed-icons {
        display: none;
    }
    
    .fixed-icons i {
        display: none
    }

.copyright-cont {
    padding:20px
}

.header-icon-login {
    font-size: 30px;
}

.header-icon {
    font-size: 28px;
}

.carrito {
    width: 35%
}

.social-cont {
    justify-content: space-around
}

.soc-2 {
    margin-left: 10px;
}

.lista-nav li {
    font-size: 2.2vw
}

.user-container {
    width: 65%;
}

.header-icon:focus {
    box-shadow: 0px 0px 0px 0px rgba(98,0,255,0.75);
}

.header-icon:hover {
        box-shadow: 0px 0px 4px 0px rgba(98,0,255,0.75);
}

.lista-nav li:focus { 
        box-shadow: 0px 0px 0px 0px rgba(98,0,255,0.75);
}

.lista-nav li:hover {
    box-shadow: 0px 0px 4px 0px rgba(98,0,255,0.75);
}

.curisva {
    font-size: 35px;
}

.contenedor-descripcion {
    font-size: 25px ;
    margin-top: 30px;
}

}
    


 @media screen and (max-width: 1100px){
    
    .contenedor-body-footer{
        flex-wrap: wrap;
    }
    
    .columna-uno{
        max-width: 100%;
    }
    
    .columna-dos,
    .columna-tres{
        margin-top: 40px;
  }
}

