<%- include ("./partials/head")%>
<body>
<div class="admin-container">
    <div>
    <a href = "/products-agregar">Crear productos</a>
    </div>
    <div>
    <a href = "/products-modificar">Modificar productos</a>
    </div>
    <div>
    <a href = "/products-eliminar">Eliminar productos</a>
    </div>
</div>
    
</body>
</html>