<%- include ("./partials/head")%>
<body>
<div class="admin-container">
    <ul class="lista-nav admin-btn">
        <a href="#"><li>Crear Productos</li></a>
        <a href="#"><li>Modificar Productos</li></a>
        <a href="#"><li>Eliminar productos</li></a>
    </ul>
    </div>
</div>
    
</body>
</html>