<%- include ("./partials/head")%>
<title>Usuario administrador</title>
</head>
<body>
<div class="admin-container">
    <ul class="lista-nav admin-btn">
        <a href="products"><li>Eliminar productos</li></a>
        <a href="products/agregar"><li>Crear Productos</li></a>
        <a href="products"><li>Modificar Productos</li></a>
    </ul>
    </div>
</div>
    
</body>
</html>