<%- include ("./partials/head")%>
<title>Servicio Tecnico</title>
</head>

<body>
    
  <%- include ("./partials/header")%>

  <div class="sitio-construccion">
    <h2>Esta parte de nuestro sitio web se encuentra en construcción!</h2>
    <p>Para más información puedes mandar un mail a contactojuanlarraz@gmail.com o comunicarte por nuestras redes sociales.</p>
    <img src="/images/construccion.jpg" height="800px" width="800px">
  </div>



</body>
</html>