<footer>
    <div class="footer-cont">
        
    <div class="contact-cont">
            <div class="contact-flex">
                <div><p class="contact-txt">Redes Sociales</p></div>
                <div class="social-cont">
                <div><a href="#"><i class="fab fa-facebook footer-icon"></i><p>Seguinos en Facebook</p></a></div>
                <div><a href="#"><i class="fab fa-twitter footer-icon"></i><p>Seguinos en Twitter</p></a></div>
                </div>
                <div class="social-cont soc-2">
                <div><a href="#"><i class="fab fa-instagram footer-icon"></i><p>Seguinos en Instagram</p></a></div>
                <div class="wpp"><a href="#"><i class="fab fa-whatsapp footer-icon"></i><p>Seguinos en WhatsApp</p></a></div>
                </div>
            </div>
            </div>
            <div class="contact-flex">
                <div><p class="contact-txt">Contactanos</p></div>
                <div><a href="#"><i class="fas fa-map-marker-alt footer-icon"></i><p>Olavarria, Prov. de Buenos Aires, Argentina</p></a></div>
                <div><a href="#"><i class="fas fa-mobile-alt footer-icon"></i><p>+54 2284216728</p></a></div>
                <div><a href="#"><i class="fas fa-at footer-icon"></i><p>contactojuanlarraz@gmail.com</p></a></div>
            </div>
            <div class="footer-about"><a href="#"><h1>Sobre nosotros</h1></a></div>
        <div class="history-txt">
            <h1>Nuestra historia</h1>
            <p>Larraz Store surge con la pandemia global de COVID-19 para dar respuesta a la alta demanda de tecnicos en la ciudad de Olavarria, y posteriormente a la de insumos y equipos informaticos. Hoy en dia la marca se centra en proveer soluciones informaticas integrales en materia tecnologica.</p>
        </div>
   
    </div>
    <div class="copyright-cont">
        <p class="copyright-txt">© 2022 Todos los Derechos Reservados | <a href="../index.ejs">LarrazStore</a></p>
        <p class="copyright-txt"><a href="">Nuestra marca</a> | <a href="">RSE</a> | <a href="">Terminos y Condiciones</a></p>
    </div>
</footer>