<footer>

    <div class="footer-principal">
      <div class="contenedor-footer">
       
           <div class="contenedor-body-footer">

               <div class="columna-uno">
                   <h1>Nuestra historia</h1>

                   <p>Larraz Store surge con la pandemia global de COVID-19 para dar respuesta a la alta demanda de tecnicos en la ciudad de Olavarria, y posteriormente a la de insumos y equipos informaticos. Hoy en dia la marca se centra en proveer soluciones informaticas integrales en materia tecnologica.</p>

               </div>

               <div class="columna-dos">

                   <h1>Redes Sociales</h1>

                   <div class="row">
                     <img src="">
                       <label>Seguinos en Facebook</label>
                   </div>

                   <div class="row">
                       <img src="">
                       <label>Seguinos en Twitter</label>
                   </div>

                   <div class="row">
                       <img src="">
                       <label>Seguinos en Instagram</label>
                   </div>
        
                   <div class="row">
                       <img src="">
                       <label>Nuestro WhatsApp</label>
                   </div>

               </div>

               <div class="columna-tres">

                   <h1>Contactanos</h1>

                   <div class="row2">
                       <img src="">
                       <label>Olavarria, Provincia de Buenos Aires, Argentina.</label>
                   </div>

                   <div class="row2">
                       <img src="">
                       <label>+54 2284216726</label>
                   </div>

                   <div class="row2">
                       <img src="">
                        <label>contactojuanlarraz@gmail.com</label>
                   </div>

               </div>

           </div>
       
       </div>
       
       <div class="contenedor-derechos">
              <div class="footer">
                   <div class="copyright">
                       © 2022 Todos los Derechos Reservados | <a href="">LarrazStore</a>
                   </div>

                   <div class="informacion">
                       <a href="">Nuestra marca</a> | <a href="">RSE</a> | <a href="">Terminos y Condiciones</a>
                   </div>
               </div>

           </div>
      </div>
   </footer>