<header>
    <div class="top-header">
        <div class="logo"> <a href="/">
        <img src="/images/LarrazLogo.png" alt="Logo de Larraz Store" class ="imagen">
        </a>
        </div>
        <div class="search-bar">
        <form action="#" method="GET" class="search-container" >
            <div class='bar'><input type="text" placeholder='Buscar...' name="search-bar"' class="search-input"></div>
            <div><button type ="submit" value="search" class="search-button"><i class="fa fa-search"></i></button></div>
        </form>
        </div>
        <div class="header-buttons">
        <div class = "carrito"><a href="/products/cart">
        <i class="fas fa-shopping-cart header-icon"></i></a>
        </div>
        <div class="header-login">
            <a href="/users/register"><i class="fas fa-user header-icon-login"></i></a>
        </div>
        </div>
    </div> 
        <div class="burger-menu">
            <i class="fa fa-bars burger cel-icon"></i>
        </div>
    <nav>
      <ul class="lista-nav">
          <a href="/products/"><li>Productos</li></a>
          <li>Arma tu PC</li>
          <li>Servicio Tecnico</li>
          <a href="/users"><li>Usuarios</li></a>
          <li>Contacto</li>
      </ul>
  </nav>
</header>