<header>
    <div class="top-header">
        <div class="logo"> <a href="/">
        <img src="/images/LarrazLogo.png" alt="Logo de Larraz Store" class ="imagen">
        </a>
        </div>
        <div class="search-bar">
        <form action="#" method="GET" class="search-container" >
            <div class='bar'><input type="text" placeholder='Buscar...' name="search-bar"' class="search-input"></div>
            <div><button type ="submit" value="search" class="search-button"><i class="fa fa-search"></i></button></div>
        </form>
        </div>
        <div class="header-buttons">
        <div class = "carrito"><a href="/products/cart">
        <i class="fas fa-shopping-cart header-icon"></i></a>
        </div>
        <div class="header-login">
            <% if (locals.userLogged) { %>
                <p>Hola <%= locals.userLogged.name %> <%= locals.userLogged.surname %>!</p> 
                <a href="/users/logout"><button class="button-compra button-header" type="submit" >Logout</button></a>
            <% } else {%>
                <a href="/users/login"><i class="fas fa-user header-icon-login"></i></a>
            <% } %> 
        </div>
        </div>
    </div> 
        <div class="burger-menu">
            <i class="fa fa-bars burger cel-icon"></i>
        </div>
    <nav>
      <ul class="lista-nav">
          <a href="/products/"><li>Productos</li></a>
          <a href="/armarPC/"><li>Arma tu PC</li></a>
          <a href="/service/"><li>Servicio Tecnico</li></a>
          <% if (locals.userLogged && locals.userLogged.isAdmin == 1) { %>
            <a href="http://localhost:3001/"><li>Dashboard</li></a>
            <a href="/users"><li>Usuarios</li></a>
          <% } %>
      </ul>
  </nav>
</header>